body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
header {
  height: 100px;
  background: #888888;
  padding: 51px;
}
.logo-container {
  float: left;
}
.name {
  float: left;
  margin: 18px;
}

.container {
  font-size: 48px;
  text-decoration: none;
  color: white;
  padding: 5px;
}

nav {
  float: right;
  margin-top: 30px;
}
.logo {
  width: 83px;
  height: 88px;
  left: 79px;
  top: 26px;
}

.nav_link1 {
  color: white;
  margin: 40px;
  font-size: 24px;
  line-height: 20px;
}
.nav_link2 {
  color: white;
  margin: 40px;
  font-size: 24px;
}
.nav_link3 {
  color: white;
  margin: 40px;
  font-size: 24px;
}

.header-botton {
  text-align: center;
  padding: 11px 0;
  border-bottom: 1px solid #888888;
}
.text {
  margin-right: 60px;
  font-size: 18px;
  color: #888888;
}

.buttom {
  margin-right: 70px;
  font-size: 18px;
  color: #888888;
}

.first {
  display: inline-block;
  margin-bottom: 20%;
  height: 500px;
  width: 387px;
  left: 0px;
  top: 0px;
  border-radius: 30px;
  border: 1px solid #888888;
  margin: 180px;
  z-index: 0;
  text-align: center;
  font-size: 9px;
  color: #888888;
}

.first button {
  border-radius: 10px;
  padding: 12px;
  color: white;
  background-color: #888888;
  text-align: unset;
  height: 62px;
  width: 276px;
  left: 56px;
  top: 405px;
  border-radius: 10px;
  font-size: 24px;
}

.second {
  display: inline-block;
  margin-bottom: 20%;
  height: 500px;
  width: 387px;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  border: 1px solid #888888;
  margin: 180px;
  text-align: center;
  z-index: 0;
  font-size: 9px;
  color: #888888;
}

.second button {
  border-radius: 10px;
  padding: 12px;
  color: white;
  background-color: #888888;
  text-align: center;
  height: 62px;
  width: 276px;
  border-radius: 10px;
  font-size: 24px;
}

.third {
  display: inline-block;
  margin-bottom: 20%;
  height: 500px;
  width: 387px;
  left: 0px;
  top: 0px;
  border-radius: 30px;
  border: 1px solid #888888;
  margin: 180px;
  z-index: 44px;
  text-align: center;
  font-size: 9px;
  color: #888888;
}

.third button {
  border-radius: 10px;
  color: white;
  background-color: #888888;
  text-align: center;
  height: 62px;
  width: 276px;
  line-height: 28px;
  border-radius: 10px;
  font-size: 24px;
}

.fourth {
  display: inline-block;
  margin-bottom: 20%;
  height: 500px;
  width: 387px;
  left: 0px;
  top: 0px;
  border-radius: 30px;

  border: 1px solid #888888;
  margin: 180px;
  z-index: 0;
  text-align: center;
  font-size: 9px;
  color: #888888;
}

.fourth button {
  border-radius: 10px;
  padding: 12px;
  color: white;
  background-color: #888888;
  text-align: center;
  height: 62px;
  width: 276px;
  left: 56px;
  top: 405px;
  border-radius: 10px;
  font-size: 24px;
}
