body {
  margin: 0;

  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  position: relative;
}
.container {
  height: 141px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 48px;
  text-decoration: none;
  justify-content: space-between;
  background: #888;
}

@media screen and (max-width: 512px) {
  .container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    height: auto;
  }
}

.container-shop {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #fff;
}
.logo {
  padding: 40px;
}

.nav-shop {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  font-size: 24px;

  text-decoration: none;
}
@media screen and (max-width: 512px) {
  .nav {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .nav-shop {
    flex-basis: 100%;
  }

  .nav {
    flex-basis: 100%;
  }
}

.link {
  margin-left: 60px;
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.icon {
  margin-left: 50px;
  position: relative;
  padding-right: 50px;
}

@media screen and (max-width: 512px) {
  .icon {
    position: absolute;
    right: 10px;
    top: 65px;
  }
}

.block {
  border-bottom: 1px solid #888888;
}

.header-botton {
  text-align: center;
  border-bottom: 1px solid #888888;
}
.text {
  margin-right: 62px;
  font-size: 18px;
  color: #888;
}

.buttom {
  font-size: 18px;
  color: #888;
  text-decoration: none;
}

.total {
  position: absolute;
  left: 30px;
  top: 3px;
  color: white;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  position: absolute;
  background-color: #f34141;
  border-radius: 50%;
  display: none;
  width: 32px;
  height: 32px;
}

.book-element {
  margin-left: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 387px;
  height: 500px;
  border: solid 1px #888888;
  border-radius: 15px;
  margin-top: 85px;
  margin-bottom: 28px;
}
@media screen and (max-width: 512px) {
  .book-container {
    flex-wrap: wrap;
    display: flex;
  }
}

@media screen and (min-width: 512px) {
  .book-element {
    width: 60%;
  }
}
.book {
  flex-basis: auto;
  height: 258px;
  width: 153px;
  margin-top: 38px;
  margin-right: 117px;
  margin-left: 117px;
}
h2 {
  width: 286px;
  height: 83px;
  text-align: center;
  font-size: 24px;
  color: #888888;
}

.button {
  padding: 10px 75px;
  background-color: #888888;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  border: #888888;
  visibility: hidden;
}

.book-container:hover .button {
  visibility: visible;
}
.total:hover.total {
  visibility: visible;
}
